/*
Colors used:
Primary color (light grey): #D3D3D3;
Primary color (dark blue): #223C50;
Secondary color (dark grey): #AFAFAF;
Accent color (lime green): #CBF83E;
Accent color (pink): #F66165;
Accent color (lavender): #DDC7F7;
*/

/* ============================ 
general styling 
================================*/

* {
    box-sizing: border-box;
}

body {
    background-color: #F6F6F6;
    font-family: 'Oxygen', sans-serif;
    font-size:1.6rem;
    font-weight: 400;
    line-height: 1.6;
    color: #505050;
}

main {
    padding-top: 120px;
}

img {
    width: 100%;
}

section {
    padding: 4rem 0;
}

.container {
    padding: 0 15px;
}

.row {
    margin: 25px 0;
}

/* ============================ 
font & link styling 
================================*/

html {
    font-size: 62.5%; /*every rem equals 10px*/
}

h1, h2, h3 {
    line-height: 1.4;
    margin-top: 0;
}

h1 {
    font-family: 'kameron', serif;
    font-size: 2.1rem; /* em would be relative to the body, use if you want to scale up proportionally. rem allows more control. */
    font-weight: 700;
}

h2 {
    font-family: 'dosis', sans-serif;
    font-size: 2.0rem;
    font-weight: 400;
}

h3 {
    font-family: 'kameron', serif;
    font-size: 1.8rem;
    font-weight: 700;
}

a {
    color: #f66165;
    text-decoration: none;
}

a:visited {
    color: #f66165;
}

a:hover,
a:focus {
    color: #be393d;
    text-decoration: underline;
}

a:active {
    color: #902427;
}

/* ============================ 
button styling 
================================*/

.button a{
    display: inline-block;
    background-color: #f66165;
    color: #ffffff;
    font-family: 'kameron', serif;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 10px;
    border-radius: 3px;
    transition: 0.2s opacity;
}

.button a:visited{
    color: #ffffff;  
}

.button a:hover,
.button a:focus{
    opacity: 0.7;
    color: #ffffff;
    text-decoration: none;
}

.button a:active{
    opacity: 0.7;
    text-decoration: none;
}

.button-box {
    display: flex;
    justify-content: space-around;
    max-width: 38rem;
    margin: 0 auto;
}

#work_section .button {
    text-align: center;
}

#work_section .button {
    margin-top: 25px;
    margin-bottom: 25px;
}

#about_section .button {
    margin-top: 25px;
    margin-bottom: 45px;
    text-align: center;
}

#balance_title_section .button-box {
    margin-top: 25px;
}

#balance_credits_section .button {
    text-align: center;
}

/* ============================ 
header styling 
================================*/

header {
    background-color: #223C50;
    text-align: center;
    padding: 10px 0 0;
    position: fixed;
    width: 100%;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.logo {
    max-width: 60px;
}

nav {
    margin-top: 0.4em;    
}

nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav > ul > li {
    display: inline-block;
}

nav > ul > li > a {
    padding: 0 15px;
    font-weight: 400;
    color: #e4e4e4;
}

nav > ul > li > a:visited {
    color: #e4e4e4;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus {
    color: #aeaeae;
    text-decoration: underline;
}

nav > ul > li > a:active {
    color: #7c7c7c;
}

header:after {
    background: linear-gradient (to right, #CBF83E 100%, #d3d3d3 100%, #afafaf 100%, #DDC7F7 100%, #f66165 100%);
    position: absolute;
    content: '';
    height: 6px;
    right: 0;
    left: 0;
    bottom: 0;
}


/* ============================ 
hero styling 
================================*/

#hero_section {
    background-color: #d3d3d3;
   /* padding: 20px 0; */
    display: inline-block;
    width: 100%;
}

#hero_section h1 {
    text-align: center;
}

#hero_section span {
    /*font-size: 80%; in relation to the parent */
    color: #f66165;
 }

 /* ============================ 
main styling 
================================*/

#work_section .row {
    padding-bottom: 25px; 
    border-bottom: 1px solid #4a4a4a;
    margin-top: 10px;
}

#work_section h3 {
    text-align: center;  
    margin-bottom: 0;  
}

#about-header_section {
    padding-top: 4rem;
    padding-bottom: 0;
}

#about_section {
    padding-top: 0;
}

#about_section img {
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

#about_section .lavender {
    background-color: #DDC7F7; 
    width: 290px; 
    padding: 8px;
}

#balance_title_section img {
    max-width: 560px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#balance_overview_section {
    padding-bottom: 45px;
}

#balance_logo-design_section {
    padding-top: 0;
    padding-bottom: 45px;
}

#balance_logo-design_section .row {
    display: flex;
    justify-content:space-between;
    margin: 0;
}

#balance_logo-design_section .column {
    width: 48%;
}

#balance_color-design_section {
    padding-top: 0;
    padding-bottom: 45px;
}

#balance_typography_section {
    padding-top: 0;
    padding-bottom: 45px;
}

#balance_typography_section .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

#balance_typography_section .text-box_1 img {
    width: 55%;
}

#balance_typography_section .text-box_2 img {
    width: 14%;
}

#balance_typography_section .text-box_3 img {
    width: 27%;
}

#balance_typography_section .text-box_4 img {
    width: 90%;
}

#balance_user-flows_section {
    padding-top: 0;
    padding-bottom: 45px;
}

#balance_user-flows_section .image-box {
    padding-top: 25px;
}

#balance_lowfi-wireframes_section {
    padding-top: 0;
    padding-bottom: 30px;
}

#balance_lowfi-wireframes_section .row {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#balance_lowfi-wireframes_section .column {
    display: inline-block;
    width: 80%;
    max-width: 220px;
}

#balance_lowfi-wireframes_section p {
    margin-top: 0;
    text-align: center;
}

#balance_midfi-wireframes_section {
    padding-top: 0;
    padding-bottom: 30px;
}

#balance_midfi-wireframes_section .row {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#balance_midfi-wireframes_section .column {
    display: inline-block;
    width: 80%;
    max-width: 220px;
}

#balance_midfi-wireframes_section p {
    margin-top: 0;
    text-align: center;
}

#balance_prototype-test_section {
    padding-top: 0;
    padding-bottom: 30;
}

#balance_prototype-test_section .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

#balance_prototype-test_section .row p{
    margin-top: 0;
}

#balance_prototype-test_section .original {
    max-width: 220px;
}

#balance_prototype-test_section .revised {
    max-width: 280px;
}

#balance_final-screens_section {
    padding-top: 0;
    padding-bottom: 30px;
}

#balance_final-screens_section .image-box {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#balance_final-screens_section img {
    display: inline-block;
    width: 80%;
    max-width: 220px;
}

#balance_mockups_section {
    padding-top: 0;
    padding-bottom: 30px;
}

/* ============================ 
footer styling 
================================*/

footer {
    background-color: #223C50;
    text-align: center;
    padding: 10px 0 0;    
    width: 100%; 
    color: #e4e4e4;   
}

footer .container {
    padding-top: 15px;
    padding-bottom: 30px;
}

footer span {
    font-size: 60%
}

.social > ul {    
    padding: 0;     
}

.social > ul > li {
    display: inline-block;        
    padding: 0 3px;
    width: 40px;      
}

/* ============================ 
@media styling 
================================*/

@media (max-width: 359px) {
    .button-box {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .button-box .button a {
        min-width: 17rem;
        text-align: center;
    }
}

@media (min-width: 640px){
    header {
        text-align: unset;
    }
    
    header .container {
        display: flex;
        justify-content: space-between;
    }

    main {
        padding-top: 60px;
    }

    .container {
        max-width: 950px;
        margin-left: auto;
        margin-right: auto;
    }

    #balance_title_section .container {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }

    #balance_overview_section .container {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }

    #balance_logo-design_section .container {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }

    #balance_color-design_section .container {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }

    #balance_typography_section .container {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }

    #balance_user-flows_section .container {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }

    #balance_lowfi-wireframes_section .container {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }

    #balance_midfi-wireframes_section .container {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }

    #balance_prototype-test_section .container {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }

    #balance_final-screens_section .container {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }

    #balance_mockups_section .container {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }

    #balance_credits_section .container {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }

    #work_section .row {
        display: flex;
        justify-content:space-between;
    }

    #work_section .col-md-6 {
        width: 48%;
    }

    #about_section .row {
        display: flex;
        justify-content: space-between;
    }

    #about_section .col-md-7 {
        width: 52%;
    }

    #about_section .col-md-5 {
        width: 44%;
    }

    #about_section img {
        margin-bottom: 50px;   
    }
}

@media (min-width: 1024px) {

}

@media (min-width: 1440px) {

}
