/*
Colors used:
Primary color (light grey): #D3D3D3;
Primary color (dark blue): #223C50;
Secondary color (dark grey): #AFAFAF;
Accent color (lime green): #CBF83E;
Accent color (pink): #F66165;
Accent color (lavender): #DDC7F7;
*/

/* ============================ 
general styling 
================================*/

* {
    box-sizing: border-box;
}

body {
    background-color: #F6F6F6;
    font-family: 'Oxygen', sans-serif;
    font-size:1.6rem;
    font-weight: 400;
    line-height: 1.6;
    color: #505050;
}

main {
    padding-top: 78px;
}

img {
    width: 100%;
}

section {
    padding: 0 0 4rem 0;
}

.container {
    padding: 0 15px;
}

.row {
    margin: 25px 0;
}

/* ============================ 
font & link styling 
================================*/

html {
    font-size: 62.5%; /*every rem equals 10px*/
}

h1, h2, h3 {
    line-height: 1.4;
    margin-top: 0;
}

h1 {
    font-family: 'kameron', serif;
    font-size: 2.1rem; /* em would be relative to the body, use if you want to scale up proportionally. rem allows more control. */
    font-weight: 700;
    padding-top: 20px;
}

h2 {
    font-family: 'dosis', sans-serif;
    font-size: 2.0rem;
    font-weight: 400;
    padding-top: 30px;
}

h3 {
    font-family: 'kameron', serif;
    font-size: 1.8rem;
    font-weight: 700;
    padding-top: 20px;
}

a {
    color: #f66165;
    text-decoration: none;
}

a:visited {
    color: #f66165;
}

a:hover,
a:focus {
    color: #be393d;    
}

a:active {
    color: #902427;
}

/* ============================ 
button styling 
================================*/

.button a{
    display: inline-block;
    background-color: #f66165;
    color: #ffffff;
    font-family: 'kameron', serif;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 10px;
    border-radius: 3px;
    transition: 0.4s opacity;
}

.button a:visited{
    color: #ffffff;  
}

.button a:hover,
.button a:focus{
    opacity: 0.7;
    color: #ffffff;
    text-decoration: none;
}

.button a:active{
    opacity: 0.7;
    text-decoration: none;
}

.button-box {
    display: flex;
    justify-content: space-around;
    max-width: 38rem;
    margin: 0 auto;
}

#work_section .button {
    text-align: center;
}

#work_section .button {
    margin-top: 25px;
    margin-bottom: 25px;
}

#about_section .button {
    margin-top: 25px;
    margin-bottom: 45px;
    text-align: center;
}

#balance_title_section .button-box {
    margin-top: 25px;
}

#balance_credits_section .button {
    text-align: center;
}

/* ============================ 
header styling 
================================*/

header {
    background-color: #223C50;
    text-align: right;
    padding: 10px 0 20px;
    position: fixed;
    width: 100%;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    z-index: 1; 
}

.logo {
    max-width: 70px;   
    display: flex;
    padding-left: 15px;
}

header .container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    align-items: center;
}

nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav > ul > li > a {
    padding: 0 15px;
    font-weight: 400;
    color: #e4e4e4;
}

nav > ul > li > a:visited {
    color: #e4e4e4;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus {
    color: #CBF83E;    
}

nav > ul > li > a:active {
    color: #7c7c7c;
}

.navtoggle li .icon {
    font-size: 25px;
    padding-right: 15px;
}

.navtoggle li:not(:last-child){
    display: none;
  }

.navtoggle.responsive li {
    display: block;
}

.navtoggle.responsive nav {
    padding: 24px 0 0;
}

.navtoggle.responsive li {
    display: block;
    padding: 10px 0;
    border-top: 1px solid rgba(246, 97, 101, 1);
}

.navtoggle.responsive li:last-child {
    padding: 0 0 10px;
}

header:after {
    background: linear-gradient(to right, #CBF83E 20%, #d3d3d3 20%, #d3d3d3 40%, #afafaf 40%, #afafaf 60%, #DDC7F7 60%, #DDC7F7 80%, #f66165 80%);
    position: absolute;
    content: '';
    height: 6px;
    right: 0;
    left: 0;
    bottom: 0;
}


/* ============================ 
hero styling 
================================*/

#hero_section {
    background-color: #DDDFE7;
    padding-top: 30px;
    padding-bottom: 30px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

#hero_section .container {
    max-width: 500px;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-left: auto;
    margin-right: auto;
}

#hero_section span {
    /*font-size: 80%; in relation to the parent */
    color: #f66165;
 }

 /* ============================ 
main styling 
================================*/

#work_section .row {
    padding-bottom: 25px; 
    border-bottom: 1px solid #d3d3d3;
    margin-top: 10px;
}

#work_section .row:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

#work_section h3 {
    text-align: center;  
    margin-bottom: 0;  
}

#about-header_section {
    padding-top: 4rem;
    padding-bottom: 0;
}

#about_section {
    padding-top: 0;
}

#about-header_section h1 {
    text-align: center;
}

#about_section img {
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

#about_section .lavender {
    background-color: #DDC7F7;     
    padding: 8px 2rem;
}

#balance_title_section {
    padding-top: 40px;
}

#balance_title_section h1 {
    text-align: center;
}

#balance_title_section img {
    max-width: 560px;
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

#balance_logo-design_section .row {
    display: flex;
    justify-content: space-between;
    /*    margin: 0;
    flex-wrap: wrap; */
}

#rocks_4 {
    width: 100%;
    max-width: 100%;
    height: auto;
}

#balance_color-design_section {
    padding-top: 0;
    padding-bottom: 45px;
}

#balance_typography_section .row {
    display: flex;
    justify-content: space-between;
    margin: 0;
    flex-direction: column;
}

#balance_typography_section .column {
    display: flex;     
    flex-direction: column;
    justify-content: flex-start;    
}

#balance_typography_section .text-box_2 .text-box_4 {
    display: flex;
}

#balance_typography_section .text-box_1 img {
    width: 30%;
}

#balance_typography_section .text-box_2 img {
    width: 8%;
    margin-bottom: 45px;
}

#balance_typography_section .text-box_3 img {
    width: 14%;
}

#balance_typography_section .text-box_4 img {
    width: 55%;
}

#balance_user-flows_section .image-box {
    padding-top: 25px;
}

#balance_lowfi-wireframes_section .row {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#balance_lowfi-wireframes_section .column {
    display: inline-block;
    width: 80%;
    max-width: 220px;
}

#balance_lowfi-wireframes_section p {
    margin-top: 0;
    text-align: center;
}

#balance_midfi-wireframes_section .row {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#balance_midfi-wireframes_section .column {
    display: inline-block;
    width: 80%;
    max-width: 220px;
}

#balance_midfi-wireframes_section p {
    margin-top: 0;
    text-align: center;
}

#balance_prototype-test_section .arrow {
    max-width: 60px;
}

#balance_prototype-test_section .original {
    max-width: 220px;
    padding-right: 5px;
}

#balance_prototype-test_section .revised {
    max-width: 280px;
    padding-left: 5px;
}

#balance_prototype-test_section .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    margin: 0;
}

#balance_final-screens_section .image-box {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#balance_final-screens_section img {
    display: inline-block;
    width: 80%;
    max-width: 220px;
}

#balance_mockups_section {
    padding-bottom: 0;  
}

#balance_mockups_section .container-fullscreen {
    padding: 0;
}

#balance_mockups_section img {
    vertical-align: bottom;
}

#balance_credits_section {
    padding: 0;
    position: relative;    
}

#balance_credits_section img {
    vertical-align: bottom;
}

#balance_credits_section .button {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


/* ============================ 
footer styling 
================================*/

footer {
    background-color: #223C50;
    text-align: center;
    padding: 10px 0 0;    
    width: 100%; 
    color: #e4e4e4;   
}

footer .container {
    padding-top: 15px;
    padding-bottom: 30px;
}

footer span {
    font-size: 60%
}

.social > ul {    
    padding: 0;
    margin-top: 30px;  
}

.social > ul > li {
    display: inline-block;        
    padding: 0 3px;
    width: 40px;      
}

/* ============================ 
@media styling 
================================*/

@media (max-width: 359px) {
    .button-box {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .button-box .button a {
        min-width: 17rem;
        text-align: center;
    }
}

@media (max-width: 639px){
    #balance_logo-design_section .row {
        flex-direction: column;        
        gap: 20px;        
    }

    #balance_logo-design_section .column_1 {
        padding-left: 8%;
        padding-right: 8%;  
    }
}

@media (min-width: 500px){
    #balance_typography_section .text-box_1 img {
        width: 15%;
    }
    
    #balance_typography_section .text-box_2 img {
        width: 4%;
        margin-bottom: 45px;
    }
    
    #balance_typography_section .text-box_3 img {
        width: 8%;
    }
    
    #balance_typography_section .text-box_4 img {
        width: 25%;
    }
}

@media (min-width: 640px){
    header {
        text-align: unset;
    }
    
    header .container {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        align-items: center;
    }

    .navtoggle li:not(:last-child) {
        display: inline-block;
    }

    .navtoggle li:last-child {
        display: none;
    }

    main {
        padding-top: 78px;
    }

    .container {
        max-width: 950px;        
    }

    #balance_title_section .container {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }

    #balance_overview_section .container {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }

    #balance_logo-design_section .column_1 {
        width: 64%;
    }

    #balance_logo-design_section .column_2 {
        width: 32%;
    }

    #balance_logo-design_section .container {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }

    #balance_color-design_section .container {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }

    #balance_typography_section .container {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }

    #balance_typography_section .row {
        flex-direction:unset;
    }
    
    #balance_typography_section .column {
        width: 48%;
    }

    #balance_typography_section .text-box_1 img {
        width: 30%;
    }
    
    #balance_typography_section .text-box_2 img {
        width: 8%;
        margin-bottom: 0;
    }
    
    #balance_typography_section .text-box_3 img {
        width: 15%;
    }
    
    #balance_typography_section .text-box_4 img {
        width: 50%;
    }

    #balance_user-flows_section .container {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }

    #balance_lowfi-wireframes_section .container {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #balance_lowfi-wireframes_section .row {
        display: flex;
        justify-content: space-between;
    }
    
    #balance_lowfi-wireframes_section .column {
        width: 70%;
        max-width: 220px;
    }

    #balance_midfi-wireframes_section .container {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }

    #balance_midfi-wireframes_section .row {
        display: flex;
        justify-content: space-between;
    }
    
    #balance_midfi-wireframes_section .column {
        width: 70%;
        max-width: 220px;
    }

    #balance_prototype-test_section .container {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }

    #balance_final-screens_section .container {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }

    #balance_final-screens_section .image-box {
        display: flex;
        justify-content: space-between;
        margin: 0;
        flex-wrap: wrap;
    }
    
    #balance_final-screens_section img {
        width: 15%;
        max-width: 100px;
    }

    #balance_mockups_section .container {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }

    #balance_credits_section .container {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }

    #work_section .row {
        display: flex;
        justify-content:space-between;
    }

    #work_section .col-md-6 {
        width: 48%;
    }

    #about_section .row {
        display: flex;
        justify-content: space-between;
    }

    #about_section .col-md-7 {
        width: 60%;
        padding-right: 3rem;
    }

    #about_section .col-md-5 {
        width: 40%;
    }

    #about_section img {
        margin-bottom: 50px;   
    }
}

/* ============================ 
@keyframes animation styling for Balance logo
================================*/
/*
#rock_1-3 {
    transform-box: fill-box;
    transform-origin: center;
    animation-duration: 3s;
    animation-name: first-rock-shake;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes first-rock-shake{      
    0% {transform: rotate(0deg);}         
    35% {transform: rotate(-18deg);}    
    40% {transform: rotate(0deg);}    
    48% {transform: rotate(-5deg);}    
    55% {transform: rotate(0deg);}    
    100% {transform: rotate(0deg);}        
}


#rock_2-3 {
    transform-box: fill-box;
    transform-origin: center;
    animation-duration: 3s;
    animation-name: second-rock-shake;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes second-rock-shake{     
    0% {transform: rotate(0deg);}
    35% {transform: rotate(18deg);}
    40% {transform: rotate(0deg);}
    48% {transform: rotate(5deg);}
    55% {transform: rotate(0deg);}
    100% {transform: rotate(0deg);}    
}

#rock_3-3 {
    transform-box: fill-box;
    transform-origin: center;
    animation-duration: 3s;
    animation-name: third-rock-shake;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes third-rock-shake{       
    0% {transform: rotate(0deg);}
    35% {transform: rotate(-18deg);}
    40% {transform: rotate(0deg);}
    48% {transform: rotate(-5deg);}
    55% {transform: rotate(0deg);}
    100% {transform: rotate(0deg);}    
}

#rock_4-3 {
    transform-box: fill-box;
    transform-origin: 50% 50%;
    animation-duration: 3s;
    animation-name: fourth-rock-shake;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes fourth-rock-shake{      
    0% {transform: rotate(0deg);}
    35% {transform: rotate(18deg);}
    40% {transform: rotate(0deg);}
    48% {transform: rotate(5deg);}
    55% {transform: rotate(0deg);}
    100% {transform: rotate(0deg);}    
}

*/


/* ============================ 
@keyframes animation styling for Berlin practice
================================*/

.sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.cloud-front {
    animation-duration: 20s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.cloud-back {
    animation: 40s cloud-move-reverse infinite alternate linear;
}

@keyframes color-change {
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill: #f76414;}
}

@keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
}

@keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
}